@import "tailwindcss";

@theme {
  --color-brand-primary: #4648D4; /* الأزرق الكهربائي لـ AcuHire */
  --color-brand-darkBg: #0f172a;  /* الكحلي الغامق للـ Dark Mode */
  --color-brand-lightBg: #f8fafc; /* الخلفية الفاتحة للاندنج بيدج */
}






/* // اخر حاجه عشان لو عدلت تاني ميفرقعش ف وشي */